<!DOCTYPE HTML>
<HTML lang="en">
<head>
        <meta charset= "UTF-8">
        <link rel="stylesheet" href="static/styles/bootstrap.min.css">
        <link rel = "stylesheet" type="text/css" href = "static/styles/style.css">
        <script src="static/js/d3.v5.min.js"></script>
        <script src="static/js/topojson-client.min.js"></script>
        <script src="static/js/d3-simple-slider.min.js"></script>
        <script src='static/js/plotly-latest.min.js'></script>
        <script src="static/js/jquery.min.js"></script>
</head>
    <body class="bodyDiv">

    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="https://github.com/greciavm/project2"  target="_blank">Predatory Pricing at Amazon | </a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="seller.html">Sellers Analysis</a></li>
                    <li><a href="3.html">Menu 3</a></li>
                    <li><a href="4.html">Menu 4</a></li>
                    <li><a href="team.html">The Team</a></li>
                </ul>
            </div>
        </div>
    </nav>
        
<section class="home">
</section>
<div class='bodyDiv mx-5' style="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-dark text-center">Data Highlights</h3></br>
                    <div class="card bg-dark float-right" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3">Highest Discount</h3>
                            <div id="ccontainer"><span class="count" style="width: 30rem">99</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card float-right" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3 text-dark">Highest Listing Price </h3>
                            <div id="currency"><span class="currency" style="width: 30rem"></span></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card float-right bg-dark" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3">Item with the Highest Discount</h3>
                            <p class="card-text cardP">Surgical Face Mask with Earloop</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card float-right" style="width: 30rem">
                        <div class="card-body">
                            <h3 class="card-title cardH3 text-dark">Items in Data Set</h3>
                            <p class="card-text cardP text-dark">209</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
$('.count').each(function() {
    $(this).prop('Counter', 0).animate({
        Counter: $(this).text()
    }, {
        duration: 9000,
        easing: 'swing',
        step: function(now) {
            $(this).text(Math.ceil(now));
        }
    });
});

jQuery(document).ready(function($) {
 
    setInterval(function() {
        updateValue();
    }, 6000);

});

function updateValue() {

    $('#count').html(Math.floor(Math.random() * (1000 - 1)) + 1);
    $('#count').each(function() {

        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 3000,
            easing: 'swing',
            step: function(now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
}

</script>

<script>

    // Animate the element's value from 400 to 400000:
var currency = $(".currency"); //[make sure this is a unique variable name]

$({someValue: 400}).animate({someValue: 18999}, {
    duration: 5000,
    easing:'swing', // can be anything
    step: function() { // called on every step
      // Update the element's text with rounded-up value:
      currency.text(commaSeparateNumber(Math.round(this.someValue)));
    },
    
});
/**
 * Format the number, so it will be seperated by comma
 */
function commaSeparateNumber(val){
    while (/(\d+)(\d{3})/.test(val.toString())){
      val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }
    return val;
}
</script>

    <div class="col-8">
            <h2 class="myH2">What is Predatory Pricing?</h2>
            <script src="static/js/plotly-latest.min.js"></script>
            <p class="myP">
                
                Also known as undercutting, is a pricing strategy where a dominant firm deliberately reduces prices of a product or service to loss-making levels in the short-term.
            </p>
            <p class="myP">

                The aim is that existing or potential competitors will be foreclosed from the market, as they will be unable to effectively compete with the dominant firm without making a loss.

            </p>
            <p class="myP">
                Once competition has been eliminated, the dominant firm can then raise prices to monopoly levels in the long-term to recoup their losses. 
            </p>
                <p class="myP">
                Predatory pricing can cause consumer harm so is considered anti-competitive in many jurisdictions and is illegal under some competition laws.
            </p>
            <p class="myP">Predatory pricing can be split into two stages.
            </p>

            <p class="myP">Firstly, there is the predation stage, where dominant firms offer a good or service at a below-cost rate which reduces profits in the short-term, but is intended to price out competitors from the market.
            </p>

            <p class="myP">Secondly, there is the recoupment stage, where dominant firms charge monopoly prices in the long-term to recover their losses. Under EU law, the European Commission can account for recoupment as a factor in determining whether predatory pricing is abusive. This is because predatory pricing can only be economically effective if a firm can recover its short-term losses from pricing below average variable costs (AVC). However, recoupment is not a precondition for establishing whether predatory pricing is an abuse of dominance under Article 102 TFEU. Assessing other factors, such as barriers to entry, can suffice to prove how the predatory pricing could foreclose competitors from the market.
            </p>
        </br>
        </div>
    </div>
</div>

<div class="mx-5" id='plotsDiv' alt="Max-width 100%">

    <div class="col-12 mx-5" style="Max-width: 100%">
        
    </div>
</div>

<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>


<!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<style>
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
</style>
<script>
    // ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>
    <!-- Footer -->
    <footer class="page-footer">

        <!-- Footer Text -->
        <div class="container-fluid text-center">
            <div class="row justify-content-center" style="text-align:left">
                <div class="col-xl-4 col-md-6">
                    <h2 class="myHFoot">Site Map</h2>
                    <a class="myPFoot" href="index.html">Home</a></li></br>
                    <a class="myPFoot" href="seller.html">Sellers Analysis</a></li></br>
                    <a class="myPFoot" href="3.html">Menu 3</a></li></br>
                    <a class="myPFoot" href="4.html">Menu 4</a></li></br>
                    <a class="myPFoot" href="team.html">The Team</a></li></br>
                </div>
                <div class="col-xl-4 col-md-6">
                    <h2 class="myHFoot">Developers</h2>
                    <a class="myPFoot" href="https://www.linkedin.com/in/greciavillarreal" target="blank">Grecia Villareal</a></li></br>
                    <a class="myPFoot" href="https://www.linkedin.com/in/heidyloreley/" target="blank">Heidy Guzmán</a></li></br>
                    <a class="myPFoot" href="https://www.linkedin.com/in/ra%C3%BAl-sergio-far%C3%ADas-p%C3%A9rez-7a0927193/" translate="blank">Raúl Farías</a></li></br>
                    <a class="myPFoot" href="https://www.linkedin.com/in/andr%C3%A9s-guti%C3%A9rrez-estrada-994b8aa7/" target="blank">Andrés Gutiérrez</a></li></br>
                </div>
                <div class="col-xl-4 col-md-6">
                    <h2 class="myHFoot">Data Sources</h2>
                    <a class="myPFoot" href="https://data.world/data-hut/predatory-pricing-data-from-amazon" target="blank">Data.World</a></li>
                </br>
                    <a class="myPFoot" href="https://www.amazon.com/" target="blank">Amazon</a></li></br>
                </div>
            </div>
    
        </div>
        <!-- Grid row -->
        <!-- Footer Text -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            &copy; <script type="text/javascript">
            var today = new Date()
            var year = today.getFullYear()
            document.write(year)
          </script>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
    <!-- Default Statcounter code for Andres.ge http://andres.ge
-->
<script type="text/javascript">
    var sc_project=12331819; 
    var sc_invisible=1; 
    var sc_security="7d53ffac"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12331819/0/7d53ffac/1/"
    alt="Web Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->
    </body>
</HTML>
